/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.


 */
/* line 14, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
#errors {
  color: #f00;
  font-size: 15px;
}

/* alert alert-danger */
/* line 20, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
#error_explanation {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* line 30, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.required {
  color: red;
  font-size: 22px;
  text-shadow: 0 0 5px red;
}

/* line 36, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.required-field {
  margin-left: -25px;
}

/* line 40, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
fieldset.dynamic-form-field {
  margin-bottom: 7px;
}

/* line 43, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
fieldset.row-contact {
  margin-bottom: 7px;
}

/* iframe Rules */
/* line 49, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
body.iframe .breadcrumb.header {
  display: none;
}
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* line 5, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.breadcrumb.header {
  font-size: 20px;
}

/* line 9, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.transparent-background {
  background: transparent;
}

/* for nav bar collapse break point */
/*this was used for dynamic forms host app*/
/*@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }

    .navbar-collapse .nav > li.divider{
   		*width: 100%;
   		height: 1px;
   		margin: 9px 1px;
  		*margin: -5px 0 5px;
   		overflow: hidden;
  		background-color: #e5e5e5;
  		border-bottom: 1px solid #DCDCDC;
  	}
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
*/
/* line 53, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
body {
  padding-top: 70px;
}

/* line 59, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 0px;
}

/* line 63, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7;
  font-size: 13px;
}

/* line 68, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.navbar-default {
  box-shadow: 0 0 20px #999;
}

/* line 76, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin-bottom: 0.5em;
  padding: 0.625em 0.75em;
  border-radius: 4px;
}

/* line 83, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
legend {
  padding: 10px;
  font-size: 20px;
  border: none;
  width: initial;
}

/* line 91, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.clear {
  clear: both;
}

/* line 92, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.spacer {
  height: 30px;
}

/* line 94, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.logo img {
  width: 300px;
  height: 20px;
  margin-top: 15px;
  margin-right: 2em;
}

/* line 101, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
#main-header {
  font-size: 40px;
  margin-bottom: 30px;
}

/* line 106, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

/* auth buttons */
/* line 117, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.btn-fb-auth {
  background-color: #2b4170;
  /* fallback color */
  background: -moz-linear-gradient(top, #3b5998, #2b4170);
  background: -ms-linear-gradient(top, #3b5998, #2b4170);
  background: -webkit-linear-gradient(top, #3b5998, #2b4170);
  border: 1px solid #2b4170;
  text-shadow: 0 -1px -1px #1f2f52;
}

/* line 127, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.btn-fb-auth:hover {
  background: -moz-linear-gradient(top, #2b4170, #3b5998);
  background: -ms-linear-gradient(top, #2b4170, #3b5998);
  background: -webkit-linear-gradient(top, #2b4170, #3b5998);
}

/* line 133, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.btn-google-auth {
  background-color: #c33219;
  /* fallback color */
  background: -moz-linear-gradient(top, #e64522, #c33219);
  background: -ms-linear-gradient(top, #e64522, #c33219);
  background: -webkit-linear-gradient(top, #e64522, #c33219);
  border: 1px solid #c33219;
  text-shadow: 0 -1px -1px #972412;
}

/* line 142, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.btn-google-auth:hover {
  background-color: #e64522;
  /* fallback color */
  background: -moz-linear-gradient(top, #c33219, #e64522);
  background: -ms-linear-gradient(top, #c33219, #e64522);
  background: -webkit-linear-gradient(top, #c33219, #e64522);
}

/* auth icons */
/* line 150, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.btn-fb-auth i, .btn-google-auth i {
  padding-top: 0.2em;
  padding-left: 0.6em;
}

/* home */
/* line 156, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.home-icon {
  font-size: 150px;
  display: block;
  margin: 0 auto;
}

/* table */
/* line 163, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
  background-color: #DFDFDF;
}

/* row table */
/* line 168, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.row-table {
  border-bottom: 1px solid #CECECE;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* line 173, /usr/local/lib/ruby/gems/2.0.0/bundler/gems/dynamic-forms-engine-e6f8b6d4d2ee/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
@media print{ 
	fieldset, .breadcrumb, .hide-print, .back-button{
		display: none;
	}
	table, th,td, .print-table{
		border: 1px solid black;
	}
	th:nth-child(n+5), td:nth-child(n+5){
		display: none;
	}
	.print-title, .print-title-size{
		display: block;
		text-align: center;
	}


}


fieldset.dynamic-form-field{
  margin-right: -15px;
  margin-left: -15px;
  padding-right: 22px;
}

.row.options_select{
  padding-top: 15px;
}

.dynamic-form-field-number{
  float: left;
  width: 50px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.include-checkbox, .required-checkbox{
  display: block;
}
.options_select{
  display: none;
}

fieldset[selection="contacts"] .required-checkbox, fieldset[selection="contacts"] .include-checkbox, 
    fieldset[selection="contacts"] .field-size{
            display: none
}
fieldset[selection="description"] .include-checkbox, fieldset[selection="description"] .required-checkbox{
  display:none;
}
fieldset[selection="divider"] .required-checkbox, fieldset[selection="divider"] .include-checkbox, 
    fieldset[selection="divider"] .field-size, fieldset[selection="divider"] .user-input{
            display: none
}
fieldset[selection="field_group"] .required-checkbox, fieldset[selection="field_group"] .include-checkbox, 
    fieldset[selection="field_group"] .field-size{
            display: none
}
fieldset[selection="file_upload"] .include-checkbox{
  display:none;
}
fieldset[selection="large_header"] .include-checkbox, fieldset[selection="large_header"] .required-checkbox,
  fieldset[selection="large_header"] .field-size{
    display:none;
}
fieldset[selection="medium_header"] .include-checkbox, fieldset[selection="medium_header"] .required-checkbox,
  fieldset[selection="medium_header"] .field-size{
    display:none;
}
fieldset[selection="options_select"] .options_select{
  display:block;
}
fieldset[selection="options_select_with_other"] .options_select{
  display:block;
}
fieldset[selection="signature"] .field-size, fieldset[selection="medium_header"] .include-checkbox{
  display:none;
}
fieldset[selection="small_header"] .include-checkbox, fieldset[selection="small_header"] .required-checkbox,
  fieldset[selection="small_header"] .field-size{
    display:none;
}
fieldset[selection="spacer"] .required-checkbox, fieldset[selection="spacer"] .include-checkbox, 
    fieldset[selection="spacer"] .field-size, fieldset[selection="spacer"] .user-input{
            display: none
}
