/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.


 */
/* line 14, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
#errors {
  color: #f00;
  font-size: 15px;
}

/* alert alert-danger */
/* line 20, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
#error_explanation {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* line 31, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
fieldset.dynamic-form-field {
  margin-bottom: 7px;
}

/* line 34, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
fieldset.row-contact {
  margin-bottom: 7px;
}

/* line 38, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
fieldset.field-group {
  display: none;
}

/* line 42, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
fieldset.active {
  display: block;
}

/* line 46, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.required {
  color: red;
  font-size: 22px;
  text-shadow: 0 0 5px red;
}

/* line 52, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
ul.pager.next-prev-steps {
  margin: auto;
}

/* line 55, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-primary .badge {
  color: red;
  background-color: #f2dede;
}

/* line 59, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-default .badge {
  color: red;
  background-color: #f2dede;
}

/* line 63, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
label.description {
  padding: 0 5px;
  font-size: 17px;
}

/** The Magic **/
/* line 70, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}

/* line 84, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #adadad;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
/* line 101, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn {
  padding: 6px 12px 6px 24px;
}

/* line 104, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn:first-child {
  padding: 6px 6px 6px 10px;
}

/* line 107, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn:last-child {
  padding: 6px 18px 6px 24px;
}

/** Default button **/
/* line 112, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}

/* line 115, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}

/* line 118, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}

/* line 121, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/** Primary button **/
/* line 126, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
  border-left: 10px solid #428bca;
}

/* line 129, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
  border-left: 10px solid #357ebd;
}

/* line 132, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
  border-left: 10px solid #3276b1;
}

/* line 135, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
  border-left: 10px solid #285e8e;
}

/** Success button **/
/* line 140, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
  border-left: 10px solid #5cb85c;
}

/* line 143, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
  border-left: 10px solid #4cae4c;
}

/* line 146, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
  border-left: 10px solid #47a447;
}

/* line 149, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
  border-left: 10px solid #398439;
}

/** Danger button **/
/* line 154, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
  border-left: 10px solid #d9534f;
}

/* line 157, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
  border-left: 10px solid #d43f3a;
}

/* line 160, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
  border-left: 10px solid #d2322d;
}

/* line 163, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
  border-left: 10px solid #ac2925;
}

/** Warning button **/
/* line 168, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
  border-left: 10px solid #f0ad4e;
}

/* line 171, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
  border-left: 10px solid #eea236;
}

/* line 174, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
  border-left: 10px solid #ed9c28;
}

/* line 177, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
  border-left: 10px solid #d58512;
}

/** Info button **/
/* line 182, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #5bc0de;
}

/* line 185, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
  border-left: 10px solid #46b8da;
}

/* line 188, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
  border-left: 10px solid #39b3d7;
}

/* line 191, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
  border-left: 10px solid #269abc;
}

/* iframe Rules */
/* line 197, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/application.css.scss */
body.iframe .breadcrumb.header {
  display: none;
}
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* line 6, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.breadcrumb.header {
  font-size: 20px;
}

/* line 10, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.transparent-background {
  background: transparent;
}

/* for nav bar collapse break point */
/*this was used for dynamic forms host app*/
/*@media (min-width: 500px) and (max-width: 800px) {
    .navbar-header {
        float: none;
    }*/
/*    .navbar-collapse .nav > li.divider{
   		*width: 100%;
   		height: 1px;
   		margin: 9px 1px;
  		*margin: -5px 0 5px;
   		overflow: hidden;
  		background-color: #e5e5e5;
  		border-bottom: 1px solid #DCDCDC;
  	}
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }*/
/*}
*/
/* line 58, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
body {
  padding-top: 70px;
}

/* line 64, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 0px;
}

/*next and previous pager*/
/* line 71, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.pager li > a:visited {
  background-color: #428BC9;
}

/* line 75, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin-bottom: 0.5em;
  padding: 0.625em 0.75em;
  border-radius: 4px;
}

/* line 82, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
legend {
  padding: 10px;
  font-size: 20px;
  border: none;
  width: initial;
}

/* line 90, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.clear {
  clear: both;
}

/* line 91, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.spacer {
  height: 30px;
}

/* line 93, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.logo img {
  width: 300px;
  height: 20px;
  margin-top: 15px;
  margin-right: 2em;
}

/* line 100, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
#main-header {
  font-size: 40px;
  margin-bottom: 30px;
}

/* line 105, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

/* auth buttons */
/* line 116, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.btn-fb-auth {
  background-color: #2b4170;
  /* fallback color */
  background: -moz-linear-gradient(top, #3b5998, #2b4170);
  background: -ms-linear-gradient(top, #3b5998, #2b4170);
  background: -webkit-linear-gradient(top, #3b5998, #2b4170);
  border: 1px solid #2b4170;
  text-shadow: 0 -1px -1px #1f2f52;
}

/* line 126, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.btn-fb-auth:hover {
  background: -moz-linear-gradient(top, #2b4170, #3b5998);
  background: -ms-linear-gradient(top, #2b4170, #3b5998);
  background: -webkit-linear-gradient(top, #2b4170, #3b5998);
}

/* line 132, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.btn-google-auth {
  background-color: #c33219;
  /* fallback color */
  background: -moz-linear-gradient(top, #e64522, #c33219);
  background: -ms-linear-gradient(top, #e64522, #c33219);
  background: -webkit-linear-gradient(top, #e64522, #c33219);
  border: 1px solid #c33219;
  text-shadow: 0 -1px -1px #972412;
}

/* line 141, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.btn-google-auth:hover {
  background-color: #e64522;
  /* fallback color */
  background: -moz-linear-gradient(top, #c33219, #e64522);
  background: -ms-linear-gradient(top, #c33219, #e64522);
  background: -webkit-linear-gradient(top, #c33219, #e64522);
}

/* auth icons */
/* line 149, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.btn-fb-auth i, .btn-google-auth i {
  padding-top: 0.2em;
  padding-left: 0.6em;
}

/* table */
/* line 152, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
  background-color: #DFDFDF;
}

/* row table */
/* line 157, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.row-table {
  border-bottom: 1px solid #CECECE;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* line 162, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

/* tenant app field group entry */
/* line 168, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
fieldset.field-group {
  background: #e9e9e9;
  border-radius: 10px;
  margin-top: 15px !important;
  border: none !important;
}
/* line 173, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
fieldset.field-group .input-box {
  border-radius: 6px;
  padding-top: 10px;
  background: white;
}
/* line 178, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
fieldset.field-group legend.legend-title {
  background: #00ac98;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: auto;
  padding: 7px 15px;
}

/* bootstrap pager*/
/* line 191, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.pager li > a {
  background-color: #428BC9;
  color: white;
}

/* line 195, /home/max/.rvm/gems/ruby-2.0.0-p643/bundler/gems/dynamic-forms-engine-9ba96f654677/app/assets/stylesheets/dynamic_forms_engine/bootstrap_and_overrides.css.scss */
.pager li > a:hover {
  background-color: white;
  color: #428BC9;
}

/*option field other*/
/*@media screen and (min-width: 1092px){
	.option-field{
		margin-top: 35px;
		margin-left: -87px;
	}
}*/
@media print{ 
	fieldset, .breadcrumb, .hide-print, .back-button{
		display: none;
	}
	table, th,td, .print-table{
		border: 1px solid black;
	}
	th:nth-child(n+5), td:nth-child(n+5){
		display: none;
	}
	.print-title, .print-title-size{
		display: block;
		text-align: center;
	}


}


fieldset.dynamic-form-field{
  margin-right: -15px;
  margin-left: -15px;
  padding-right: 22px;
}

.row.options_select{
  padding-top: 15px;
}

.dynamic-form-field-number{
  float: left;
  width: 50px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.include-checkbox, .required-checkbox{
  display: block;
}
.options_select, .long-description{
  display: none;
}
textarea.expand-input{
  height: 100px;
}

fieldset[selection="contacts"] .required-checkbox, fieldset[selection="contacts"] .include-checkbox, 
    fieldset[selection="contacts"] .field-size{
            display: none
}
fieldset[selection="short_description"] .include-checkbox, fieldset[selection="short_description"] .required-checkbox{
  display:none;
}
fieldset[selection="long_description"] .include-checkbox, fieldset[selection="long_description"] .required-checkbox,
  fieldset[selection="long_description"] .user-input{
  display:none;
}
fieldset[selection="long_description"] .long-description{
  display:block;
}
fieldset[selection="divider"] .required-checkbox, fieldset[selection="divider"] .include-checkbox, 
    fieldset[selection="divider"] .field-size, fieldset[selection="divider"] .user-input{
            display: none
}
fieldset[selection="field_group"] .required-checkbox, fieldset[selection="field_group"] .include-checkbox, 
    fieldset[selection="field_group"] .field-size{
            display: none
}
fieldset[selection="file_upload"] .include-checkbox{
  display:none;
}
fieldset[selection="large_header"] .include-checkbox, fieldset[selection="large_header"] .required-checkbox,
  fieldset[selection="large_header"] .field-size{
    display:none;
}
fieldset[selection="medium_header"] .include-checkbox, fieldset[selection="medium_header"] .required-checkbox,
  fieldset[selection="medium_header"] .field-size{
    display:none;
}
fieldset[selection="options_select"] .options_select{
  display:block;
}
fieldset[selection="options_select_with_other"] .options_select{
  display:block;
}
fieldset[selection="signature"] .field-size, fieldset[selection="medium_header"] .include-checkbox{
  display:none;
}
fieldset[selection="small_header"] .include-checkbox, fieldset[selection="small_header"] .required-checkbox,
  fieldset[selection="small_header"] .field-size{
    display:none;
}
fieldset[selection="spacer"] .required-checkbox, fieldset[selection="spacer"] .include-checkbox, 
    fieldset[selection="spacer"] .field-size, fieldset[selection="spacer"] .user-input{
            display: none
}
