<h1>Listing users</h1>

<% unless @users.blank? %>
	<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
	<%= render partial: 'list_users', locals: { user: @users} %>
	<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
<% end %>