<div class="jumbotron">
  <h1 class="text-center">Start Your Rental Application!</h1>
  <p class="text-center"><a class="btn btn-primary btn-lg" href="<%= dynamic_forms_engine.dynamic_form_entries_path %>" role="button">
  	<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
  	Sign in</a></p>
</div>