// <script type="text/javascript">

// var TENANT_APP = TENANT_APP || {};
// // buildings API
// var buildings = <%= @building_apartments.html_safe %>;
// // apartment fieldset
// var $apartment_fieldset = $("fieldset[data-field-group-name='Apartment']");
// // building and apartment row 
// var $apartment_row = $apartment_fieldset.children('.input-box').children("div:first");
// // building drowdown
// var $building_dropdown = $apartment_row.children("div:first").find("select");
// // apartment dropdown
// var $apartment_dropdown = $apartment_row.children("div:last").find("select");

// // Initialization functions
// TENANT_APP.initialPageSetup = function() {

// 	// Build out the buidling select menu
// 	$.each(buildings["buildings"], function(key,value){
// 		$building_dropdown.append($("<option></option>").attr("value",value["id"]).text(value["name"]));
// 	});

// 	// Set the active option of the building select if one was specified by data-id
// 	if($building_dropdown.attr("data-id")){
// 		var building_id = $building_dropdown.data("id");
// 		$building_dropdown.val(building_id);	
// 	}

// 	// Build out the apartment select menu
// 	if(building_id == undefined){
// 		TENANT_APP.buildApartmentSizeSelectFromBuildingId($building_dropdown.val());
// 	}else{
// 		TENANT_APP.buildApartmentSizeSelectFromBuildingId(building_id);
// 	}

// 	// Set the active option of the apartment select if one was specified by data-id
// 	if($apartment_dropdown.attr("data-id")){
// 		var apartment_size = $apartment_dropdown.data("id");
// 		$apartment_dropdown.val(apartment_size);
// 	}
// };

// TENANT_APP.initializeEventListeners = function() {
// 	$building_dropdown
// 		.off( 'change' )
// 		.on(  'change', TENANT_APP.onBuildingSelectMenuChange );
// };

// // Event Handlers
// TENANT_APP.onBuildingSelectMenuChange = function( e ) {

// 	TENANT_APP.buildApartmentSizeSelectFromBuildingId(
// 		$(this).val()
// 	);
// };

// // @start: shared functions
// TENANT_APP.buildApartmentSizeSelectFromBuildingId = function( buildingId ) {
	
// 	buildingId = buildingId.toString();

// 	$apartment_dropdown.empty();
// 	$.each(buildings["buildings"],function(key, value){
// 		if(value.id == buildingId ){
// 			$.each(value.building_apartments,function(key,size){
// 				$apartment_dropdown.append(
// 					$("<option></option>")
// 						.attr("value",size["name"])
// 						.text(size["name"])
// 				);
// 			});
// 		}
// 	});
// };

// // @end: shared functions

// $(document).ready(function(){
// 	TENANT_APP.initialPageSetup();
// 	TENANT_APP.initializeEventListeners();	
// });
// </script>