<!-- <p id="notice"><%= notice %></p> -->
<div class="well">
	<p><strong>User:</strong> <%= @feedback.user.email %></p>
	<p><strong>Report: </strong><%= @feedback.report %></p>
	<p><strong>Submitted: </strong><%= @feedback.created_at.strftime(" %l:%M %p %b. %d, %Y") %><p></p>
</div>