<h1>Application Fee Payment <small>Your application will not be completed until you pay the application fee $35/application</small></h1>
<p>All Major Credit Cards accepted</p>

<%= form_tag(:action => 'create') do %>
	<div id="payment-form"></div>
	<%= submit_tag 'Submit $35 Payment', :class => 'btn btn-lg btn-block btn-success' %>
<% end %>


<script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<%= render 'transactions.js.erb' %>
</script>


